.css-1uccc91-singleValue {
    color: #6d74cc!important;
    font-weight: 550;
}

.css-1wa3eu0-placeholder {
    color: rgb(180, 172, 172)!important;
}

.comments-textarea::placeholder {
    color: rgb(180, 172, 172)!important;
    font-weight: 500;
}

.sidebar-widget {
    margin-bottom: 25px!important;
}

.css-vgwmp9-menu {
    z-index: 1000!important;
}

th {
    font-size: 15px;
    padding-left: 10px!important;
}
td {
    font-size: 15px;
    padding: 10px!important;
}
.work-status-td {
    padding: 0px!important;
    padding-top: 0px!important;
}
.work-status-select {
    padding: 0px!important;
    margin: 5px!important;
}

.social-login-buttons .facebook-login-cancel {
    border-color: grey;
    background-color: grey;
	color: white;
}
.social-login-buttons .facebook-login-cancel:hover {
    border-color: grey;
    background-color: grey;
	color: white;
}

.social-login-buttons .facebook-login-confirm {
    border-color: #2a41e8;
    background-color: #2a41e8;
	color: white;
}
.social-login-buttons .facebook-login-confirm:hover {
    border-color: #2a41e8;
    background-color: #2a41e8;
	color: white;
}

.bid-filter-input {
    align-items: center;
    background-color: hsl(0,0%,100%);
    border: 1px solid hsl(0,0%,80%) !important;
    border-width: 1px;
    height: 100%!important;
    font-weight: 500!important;
    font-size: 16px!important;
    color: #6d74cc!important;
    height: 58px!important;
}
.bid-filter-input:focus {
    align-items: center;
    background-color: hsl(0,0%,100%);
    border-color: #2a41e8!important;
    border-radius: 4px!important;
    border-style: solid!important;
    border-width: 2px!important;
    height: 100%;

}

::placeholder{
    color: rgb(186, 186, 186)!important;
    font-weight: 500!important;
    font-size: 16px!important;
}
